@import "./test.css";

body {
  background: red;
  color: #12345678
}
.bg-image {
  background-image: url('./aaa.png');
}
/* autoprefixer.github.io */
/* :fullscreen {
}

.content {
  user-select: none;
  transition: all 1s ease;
} */
